.navigate {
    height:500px;
}

.content{
    height:500px;
}

.footer {
    height : 160px;
    font-size : 10px;
    padding : 10px;
    }
    


.zendiv {
    text-align:center;
    height auto;
    width : 400px;
    position : relative;
    padding : 30px;
    margin : 0 auto;
    }
    
.zendivOuter {
    position: relative;
    width : 700px;
    height : 440px;
    top : 20px;
    }

.buttondivOuter {
    position: relative;
    width: 700px; 
    height : 30px;
    top : 30px;
    }
    
.buttondivInner {
    height: 30px; 
    width : 300px;
    margin: 0 auto;
    text-align: center;
    }    

.button {
    vertical-align:middle;
    height : 20px;
    width : 40px;
    }