.navigate {
    height:500px;
}

.content{
    height:500px;
}

.footer {
    height : 160px;
    font-size : 10px;
    padding : 10px;
    }
    


.zendiv {
    text-align:center;
    height auto;
    width : 400px;
    position : relative;
    padding : 30px;
    margin : 0 auto;
    }
    
.zendivSpacer{
    height: 20px;
    width : 20px;
    background-color : white:
    }
    
.zendivOuter {
    position: relative;
    width : 700px;
    height : 430px;
    top : 20px;
    }

.buttondivOuter {
    position: relative;
    width: 700px; 
    height : 34px;
    top : 30px;
    }
    
.buttondivInner {
    height: 34px; 
    width : 700px;
    margin: 0 auto;
    text-align: center;
    }    

.button {
    vertical-align:middle;
    height : 30px;
    width : 54px;
    background-color : DimGray;
    }

#pauseplay {
    height : 44px;
    width : 68px;
    }
    
#back1, #forward1 {
    height : 36px;
    width : 60px;
    }
    